<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipee</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let recipee of recipes">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{recipee.name}}</h4>
        <p class="list-group-item-text">{{recipee.description}}</p>
      </div>
        <span class="pull-right">
          <img [src]="recipee.imagePath" alt="{{recipee.name}}" class="img-responsive" style="max-height: 50px;">
        </span>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>


